<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ssm.dao.UserDao">
  <!-- 定义缓存  一般是一级缓存，如果用同一个sqlsession 那么相同查询直接会从缓存中查找 -->
  <cache size="1024" flushInterval="60000" eviction="LRU" readOnly="false"></cache>
  <!-- 增加 -->
  <insert id="add" parameterType="ssm.model.User">
    insert into users values(null,#{userName},#{password},#{age},#{trueName},#{email},#{phone},#{roleName})
  </insert>
  <resultMap id="userResultMap" type="ssm.model.User" >
    <id property="id" column="id"/>
    <result property="userName" column="user_name"/>
    <result property="password" column="password"/>
    <result property="age" column="age"/>
    <result property="trueName" column="true_name" />
    <result property="email" column="email" />
    <result property="phone" column="phone" />
    <result property="roleName" column="role_name" />
  </resultMap>
  <select id="getUserById" parameterType="integer" resultMap="userResultMap">
    select * from users where id=#{id}
  </select>
  <select id="find" parameterType="map" resultMap="userResultMap">
    select * from users
    <where>
      <if test="userName!=null and userName!='' ">
        user_name like #{userName}
      </if>
    </where>
    <if test="start!=null and size!=null">
      limit #{start},#{size}
    </if>
  </select>
  <select id="getTotal" parameterType="map" resultType="long">
    select count(*) from users
    <where>
      <if test="userName!=null and userName!='' ">
        user_name like #{userName}
      </if>
    </where>
  </select>
  <!-- 用户删除 -->
  <delete id="delete" parameterType="integer">
    delete from users where id = #{id}
  </delete>
  <!-- 用户修改 -->
  <update id="update" parameterType="ssm.model.User">
    update users
    <set>
      <if test="age != null and age != ''">age = #{age},</if>
      <if test="userName != null and userName != ''">user_name = #{userName},</if>
      <if test="password != null and password != ''">password = #{password},</if>
      <if test="trueName != null and trueName != ''">true_name = #{trueName},</if>
      <if test="email != null and email != ''">email = #{email},</if>
      <if test="phone != null and phone != ''">phone = #{phone},</if>
      <if test="roleName != null and roleName != ''">role_name = #{roleName},</if>
    </set>
    where id = #{id}
  </update>
</mapper>